BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
ContinuationIndentWidth: 2
ColumnLimit: 0
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
BreakBeforeBinaryOperators: NonAssignment
